# First match wins: ** gets everything the syslog matchers did not already
# consume. Those logs are handled in 00-local.conf.j2.
<match **>
  @type loki
  url "{{ loki_url }}"
  username "{{ loki_username }}"
  password "{{ loki_password }}"
  extra_labels {{ loki_extra_labels | combine(loki_custom_labels) | to_json }}
  <buffer>
    @type file
    path /var/lib/fluentd/data/loki.buffer/openstack.*
    flush_interval 10s
    chunk_limit_size {{ fluentd_buffer_chunk_limit_size }}
    flush_at_shutdown true
  </buffer>

  <label>
    Hostname
    Logger
    programname
    level
  </label>
</match>
